<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="r1_updater_desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="r1_updater_desktop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <r1_updater_desktop.Properties.Settings>
            <setting name="ds" serializeAs="String">
                <value>localhost\sqlexpress</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>Devpark.Fitness.r2</value>
            </setting>
            <setting name="target" serializeAs="String">
                <value>http://r1sport.by/bot/r1-updater.php</value>
            </setting>
            <setting name="outuser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="outpass" serializeAs="String">
                <value>qwe123</value>
            </setting>
            <setting name="runevery" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="limit" serializeAs="String">
                <value>100</value>
            </setting>
        </r1_updater_desktop.Properties.Settings>
        <r1_updater_desktop.Settings>
            <setting name="ds" serializeAs="String">
                <value>localhost\\sqlexpress</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>qwe</value>
            </setting>
            <setting name="target" serializeAs="String">
                <value>http://r1sport.by/bot/r1-updater.php</value>
            </setting>
            <setting name="outuser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="outpass" serializeAs="String">
                <value>qwe123</value>
            </setting>
            <setting name="runevery" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="runtype" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="silent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autorun" serializeAs="String">
                <value>False</value>
            </setting>
        </r1_updater_desktop.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
